* {
    padding: 0;
    margin: auto;
}

body {
    width: 100%;
}


/* .slide {
    position: absolute;
    z-index: -1;
} */

#myCarousel img {
    width: 100vw !important;
    height: auto;
}

header {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#myCarousel .carousel-caption h2 {
    display: block;
    font-size: 50px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 900px;
}

#myCarousel .carousel-caption p {
    font-size: 36px;
    margin-top: .625rem;
    white-space: nowrap;
    font-weight: bold;
}


/* 

#logo {
    position: absolute;
    top: 30px;
}

.header-left {
    padding-right: 0px;
}

.header-left .info {
    position: absolute;
    top: 30px;
} */

.logo_language {
    width: 23px;
    height: 17px;
}

.info .dropdown {
    border-left: 1px solid #ffffff;
    color: #fff;
}

.info .dropdown .btn a:hover {
    color: #fff;
}

.dropdown-menu .dropdown-item {
    color: #111111;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 120px;
    right: 120px;
}

.address a {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background: url(./images/maps.svg) no-repeat center center;
    background-size: 100%;
    margin-left: .5rem;
}

a {
    text-decoration: none;
}

.info ul li a {
    color: #ffffff;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}


/* .c-header__listmenu li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: transparent;
    content: ''
}

.c-header__listmenu li .active a:after,
.c-header__listmenu li:hover a:after {
    background-color: #fff;
} */

.menu ul li {
    padding-bottom: 10px;
    padding-right: 30px;
}

.menu ul li a {
    padding-bottom: 5px;
}

.partner a:before {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, .35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, transparent 80%);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.partner a:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.menu ul .active>a {
    border-bottom: 1px solid #ffffff;
}

.menu ul li:hover>a {
    border-bottom: 1px solid #ffffff;
}

.service {
    background: #fbfbfb;
    padding: 60px 0px;
}

nav .nav-pills li {
    margin-left: 0px;
}

.service-title {
    font-size: 12px;
    color: #9b9b9b;
    font-weight: 700;
    display: block;
    margin-bottom: .625rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.c-benefit__tab li.active a,
.c-benefit__tab li:hover a {
    color: #145c90;
}

.service ul li {
    font-size: 36px;
    color: #9b9b9b;
    font-weight: 700;
    display: inline-block;
    font-family: 'Verdana';
}

.service .more a {
    font-size: 12px;
    clear: both;
    font-weight: 700;
    color: #0c7ebb;
    display: inline-block;
    position: relative;
    padding-right: .9375rem;
    text-transform: uppercase;
}

.service ul li a {
    text-decoration: none;
    color: #9b9b9b;
}

.service ul {
    margin-left: -136px;
    margin-bottom: 50px;
}

.service-card li {
    width: 274px;
    height: 275px;
    padding: .625rem;
}

.service-card-body {
    padding: 1.875rem;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .07);
    border-radius: 2px;
    height: 100%;
    box-sizing: border-box;
}

.service .service-card {
    margin-left: 0px;
}

.service-card-body .title {
    margin-top: 1.25rem;
    font-size: 15px;
    color: #2c2c2c;
    display: block;
    font-weight: bold;
    font-family: 'Verdana';
}

.service-card-body .price {
    margin-top: 1.25rem;
    font-size: 22px;
    color: #2c2c2c;
    display: block;
    font-weight: normal;
    font-family: 'Verdana';
}

.service-card-body .icon img {
    width: 50px;
    height: 50px;
}

.service-card-body .unit-price {
    font-size: 13px;
    color: #2c2c2c;
    display: block;
    text-transform: capitalize;
    margin-top: .9375rem;
}

.event,
.project {
    padding: 60px 0;
    background-color: #fff;
}

.e-heading-page {
    font-size: 35px;
    font-family: 'Verdana';
    color: #2c2c2c;
    line-height: 3.125rem;
    text-transform: uppercase;
    font-weight: bold;
}

.event-img {
    position: relative;
}

.box-info-card {
    display: flex;
    color: #fff;
    align-items: flex-end;
    flex-flow: row wrap;
    position: absolute;
    left: 14px;
    bottom: 0;
    padding: 15px;
    background-image: linear-gradient(-180deg, transparent 0%, #000 100%);
}

.event h4,
.project h4 {
    font-size: 15px;
    font-weight: bold;
}

.box-info-card span {
    display: block;
    font-size: 13px;
    color: #afaeae;
    line-height: 21px;
    width: 100%;
    margin-top: .3125rem;
}

.e-heading-section {
    font-size: 17px;
    font-family: 'Verdana';
    color: #2c2c2c;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.notify {
    padding: 10px 0px;
    padding-bottom: 50px;
    background: #fbfbfb;
    color: #000000;
}

.box-card-notification {
    padding: 15px;
    background: #fff;
    border: 1px solid #e3e8ea;
    width: 360px;
    height: 125px;
}

.box-card-notification {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.box-card-notification img {
    width: 68.39px;
    height: 80px;
}

.notify .info-card {
    flex: 1;
    overflow: hidden;
    clear: both;
    padding-left: 13px;
}

.notify .info-card h4 {
    font-size: 14px;
    color: #0000ee;
    font-weight: bold;
}

.notify .info-card span {
    font-size: 13px;
    color: #afaeae;
}

.notify a {
    text-decoration: none;
}

.box-card:hover,
.event-img img:hover,
.box-card-notification:hover,
.more a:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    zoom: 1;
}

.introduce {
    padding: 40px 0px;
    padding-bottom: 50px;
    background: #fbfbfb;
    color: #000000;
}

.introduce img {
    width: 542px;
}

.introduce-content p {
    text-align: justify;
    color: #4a4a4a;
    font-size: 15px;
    margin-top: 10px;
}

.partner {
    padding: 10px 0px;
    padding-bottom: 50px;
    background: #fbfbfb;
    border-top: 1px solid #f1f1f1;
}

footer {
    background: #025b93;
    padding: 25px 0 0;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.logo-footer {
    margin-bottom: 20px;
}

.footer-bottom {
    height: 51px;
    line-height: 30px;
    border-top: 1px solid #2272a4;
    padding: .625rem 0;
    margin-top: 1.25rem;
}

.footer-top .title-footer {
    font-size: 18px;
    color: #fff;
    line-height: 1.75rem;
    font-family: 'Verdana';
    margin-bottom: 1.0625rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-top-center .menu {
    margin-top: 40px;
}

.footer-top-center .menu a:hover {
    color: #fff;
}

.footer-top-right {
    margin-top: 63px;
}

.footer-top-right .list-follow li {
    border-radius: 50%;
    margin-right: 10px;
    padding-top: 2px;
    background-color: rgb(250, 245, 245);
    height: 26px;
    width: 26px;
    text-align: center;
}

.footer-top-right .list-follow li a {
    color: #025b93;
}

.partner img:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.partner img:hover::before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.partner img {
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}